<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Welcome to Fitness Tracker</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2>Enjoy the galleries!</h2>
        </aside>
        <div class="gallery">
            {{#if loggedIn}}
            <a href="/add-workout">Add a Workout</a>
            <a href="/add-meal">Add a Meal</a>
            <a href="/view-stats">View Stats</a>
            {{/if}}
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>