<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Macro-Matics</h1>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
            {{#if loggedIn}}
              <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="gallery">
        {{#if loggedIn}}
          <button class="btn btn-primary" id="workout-btn">Add a Workout</button>
          <button class="btn btn-primary" id="meal-btn">Add a Meal</button>
          <button class="btn btn-primary" id="stat-btn">View Stats</button>
        {{/if}}
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>