<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Add a Meal</h2>
    <form class="form workout-form">
      <div class="form-group">
        <label for="workout-date">Date:</label>
        <input class="form-input" type="date" id="workout-date" />
      </div>
      <div class="form-group">
        <label for="workout-calories">Calories:</label>
        <input class="form-input" type="number" id="workout-calories" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Workout</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/add-workout.js"></script>
