<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Add a Meal</h2>
    <form class="form meal-form">
      <div class="form-group">
        <label for="meal-name">Name:</label>
        <input class="form-input" type="text" id="meal-name" />
      </div>
      <div class="form-group">
        <label for="meal-date">Date:</label>
        <input class="form-input" type="date" id="meal-date" />
      </div>
      <div class="form-group">
        <label for="meal-calories">Calories:</label>
        <input class="form-input" type="number" id="meal-calories" />
      </div>
      <div class="form-group">
        <label for="meal-date">Protein:</label>
        <input class="form-input" type="number" id="meal-protein" />
      </div>
      <div class="form-group">
        <label for="meal-date">Carbs:</label>
        <input class="form-input" type="number" id="meal-carbs" />
      </div>
      <div class="form-group">
        <label for="meal-date">Fat:</label>
        <input class="form-input" type="number" id="meal-fat" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Meal</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/add-meal.js"></script>
