<h1 class="font welcome">Welcome to Macro-Matics!</h1>

{{#if loggedIn}}
  <p class="font message">How are you feeling today {{name}}?</p>
{{else}}
  <p class="font message">Good health starts with what you eat.</p>
  <h5 class="font message">Not a member yet?</h5>
  <a class="button" href="/login">START FOR FREE</a>
{{/if}}

<div>
  {{#if loggedIn}}
  <a class="button" href="/add-workout">Add a Workout</a>
  <a class="button" href="/add-meal">Add a Meal</a>
  <a class="button" href="/view-stats">Today's Stats</a>
  {{/if}}
</div>