<h2>Stats for Today</h2>

<h4>Calorie Intake</h4>
<ul>
    {{#each meals as |meal|}}
    <li>{{this.name}}: {{this.calories}}</li>
    {{/each}}
</ul>

<h4>Calories Burnt</h4>
<ul>
    {{#each workouts as |workout|}}
    <li>{{this.calories}}</li>
    {{/each}}
</ul>