<<<<<<< Updated upstream
=======
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
}

header {
  padding: 20px 35px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

header h1 {
  font-weight: bolder;
  margin: 0;
  font-size: 36px;
  color: black;
  font-family: "Merriweather";
  font-size: 48;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

main {

}

body {
  background-image: url("./images/background-image.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.button {
  transition-duration: 0.3s;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 30px;
  margin: 10px 20px;
  font-family: "Merriweather";

}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-primary {
  transition-duration: 0.3s;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 30px;
  margin: 10px 40px;
  font-family: "Merriweather";
}

.welcome {
  padding: 40px 30px 10px 30px;
}

.message {
  padding: 0px 30px 50px 30px;
}

.login-signup {
  display: flex;
}

.login-card {
  margin: 130px 50px 50px 100px;
}

.register-card {
  margin: 130px 50px 50px 100px;
}

.page-title {
  margin: 0px 0px 30px 75px;
  text-decoration: underline;
}

.form-group {
  margin: 5px;
}

.form-input {
  display: inline block;
  clear: right;
  width: 175px;
  text-align: center
}

.title {
  padding: 50px 0px 30px 150px;
  text-decoration: underline;
  font-size: 38
}

.sub-title {
  text-decoration: underline;
  padding: 0px 0px 10px 225px;
  font-size: 20;
}

.sub-sub-title {
  padding: 0px 0px 10px 225px;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  position: absolute;
  bottom: 0;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
>>>>>>> Stashed changes
