* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px 35px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

body {
  background-image: url("./images/background-image.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}